src/main/mule/practice25.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="b2bad76e-b006-4cc3-882b-17d4e93c55ca" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<flow name="practice25Flow" doc:id="429f0ff0-0059-4492-a12b-b3e4604f6f2f" >
		<http:listener doc:name="Listener" doc:id="53b1fb1f-038a-45f7-9acd-2e15fef40f22" config-ref="HTTP_Listener_config" path="/test"/>
		<ee:transform doc:name="Transform Message" doc:id="e17ccee5-2220-43b4-b11d-b93e45c85be8" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
"git hub practice"]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="Logger" doc:id="be20e2bf-d935-4173-9976-489b69b9d3e6" message="#[payload]"/>
	</flow>
</mule>
